Question 15->21

In [1]:
# Download data
!gdown 1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq

Downloading...
From: https://drive.google.com/uc?id=1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq
To: /Users/nhatnguyen/Documents/GIT/AIO2024/module2/week1/advertising.csv
100%|██████████████████████████████████████| 4.06k/4.06k [00:00<00:00, 11.7MB/s]

In [4]:
import pandas as pd
df = pd.read_csv(
    '/Users/nhatnguyen/Documents/GIT/AIO2024/module2/week1/advertising.csv')
data = df.to_numpy()
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [7]:
# Max value and its index in Sales column
max_value = df['Sales'].max()
max_index = df['Sales'].idxmax()
print('Max value in Sales column:', max_value)
print('Index of max value in Sales column:', max_index)

Max value in Sales column: 27.0
Index of max value in Sales column: 175

In [8]:
# Mean value of TV column
mean_value = df['TV'].mean()
mean_value

147.0425

In [9]:
# Count value equal or greater than 20 in Sales column
count_value = df[df['Sales'] >= 20].shape[0]
count_value

40

In [10]:
# Mean value of Radio column where Sales is equal or greater than 15
mean_value = df[df['Sales'] >= 15]['Radio'].mean()
mean_value

26.22293577981651

In [12]:
#Sum of Sales column where Newspaper is greater than newspaper mean value
sum_value = df[df['Newspaper'] > df['Newspaper'].mean()]['Sales'].sum()
sum_value

1405.1

In [28]:
A = df['Sales'].mean()
scores = []
for i in df['Sales']:
    if i > A:
        scores.append('Good')
    elif i == A:
        scores.append('Average')
    else:
        scores.append('Bad')
scores[7:10]

15.130500000000001

['Bad', 'Bad', 'Good']

In [29]:
# value in Sales column which is the nearest to the mean value of Sales column
mean_value = df['Sales'].mean()
arr = df.iloc[(df['Sales'] - mean_value).abs().argsort()[:1]]
A = arr['Sales'].values[0]

score = []
for i in df['Sales']:
    if i > A:
        score.append('Good')
    elif i == A:
        score.append('Average')
    else:
        score.append('Bad')
score[7:10]

['Bad', 'Bad', 'Good']